@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);

/*************************** TAG SELECTOR ***************************/
body {
  font-size: 15px;
  background-image: url('../images/bg-bottom.svg');
  background-image: url('../images/bg-top.svg');
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(240, 78%, 98%);
  font-weight: 700;
  max-width: 1440px;
}

h1 {
  text-align: center;
  color: hsl(232, 13%, 33%);
}

/*************************** CLASS SELECTOR ***************************/
.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.annually {
  display: inline-block;
  color: hsl(234, 14%, 74%);
}

.annualOrmonth {
  margin: auto;
  width: fit-content;
}

.toggle {
  display: inline-block;
}

.Monthly {
  display: inline-block;
  color: hsl(234, 14%, 74%);
}

.Professional {
  height: 400px;
  width: 400px;
  background: hsl(236, 72%, 79%);
  background-image: -moz-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -webkit-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -o-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -ms-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 10px;
}

.button {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 10px;
  background-image: -moz-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -webkit-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -o-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -ms-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.button:hover {
  text-decoration: none;
  background: hsl(236, 72%, 79%);
  background-image: -moz-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -webkit-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -o-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -ms-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.plan-container {
  display: inline-block;
  font-family: 'Raleway', Arial, sans-serif;
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin: 10% 0;
  max-width: 1440px;
  padding: 0 0 0 18%;
}

.plan-container-2 {
  text-align: center;
}

.plan-container .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.plan-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.plan-container header {
  position: relative;
}

.plan-container .plan-title {
  position: relative;
  top: 0;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #222f3d;
  color: #ffffff;
  text-transform: uppercase;
}

.plan-container .plan-cost {
  padding: 0px 10px 20px;
}

.plan-container .plan-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  color: #34495e;
}

.plan-container .plan-type {
  opacity: 0.6;
}

.plan-container .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}

.plan-container .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}

.plan-container .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}

.plan-container .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}

.plan-container .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}

.plan-container .plan-select a {
  background-color: #222f3d;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  text-transform: uppercase;
  display: inline-block;
}

.plan-container .plan-select a:hover {
  background-color: #46627f;
}

.plan-container .featured {
  margin-top: -10px;
  background: hsl(236, 72%, 79%);
  background-image: -moz-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -webkit-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -o-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -ms-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.plan-container .featured .plan-title,
.plan-container .featured .plan-price {
  color: #ffffff;
}

.plan-container .featured .plan-cost {
  padding: 10px 10px 20px;
}

.plan-container .featured .plan-features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.plan-container .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 767px) {
  .plan-container .plan {
    width: 50%;
  }

  .plan-container .plan-title,
  .plan-container .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .plan-container .plan-cost,
  .plan-container .featured .plan-cost {
    padding: 20px 10px 20px;
  }

  .plan-container .plan-select,
  .plan-container .featured .plan-select {
    padding: 10px 10px 10px;
  }

  .plan-container .featured {
    margin-top: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(236, 72%, 79%);
  background-image: -moz-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -webkit-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -o-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: -ms-linear-gradient(top, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 375px) {
  .plan-container .plan {
    width: 100%;
  }
}

Resources1×0.5×0.25×Rerun